apiVersion: v1
kind: Service
metadata:
  name: yolo-backend-service
  labels:
    app: yolo-backend
spec:
  selector:
    app: yolo-backend
  ports:
    - name: http
      protocol: TCP
      port: 5000
      targetPort: 5000
  type: LoadBalancer